In [2]:
import pandas as pd
import numpy as np
from functions import abbreviate_positions

In [3]:
df = pd.read_csv("C:\\Users\\USER\\Downloads\\final_data.csv\\final_data.csv")
df

,player,team,name,position,height,age,appearance,goals,assists,yellow cards,...,goals conceded,clean sheets,minutes played,days_injured,games_injured,award,current_value,highest_value,position_encoded,winger
0,/david-de-gea/profil/spieler/59377,Manchester United,David de Gea,Goalkeeper,189.000000,32.0,104,0.000000,0.000000,0.009585,...,1.217252,0.335463,9390,42,5,13,15000000,70000000,1,0
1,/jack-butland/profil/spieler/128899,Manchester United,Jack Butland,Goalkeeper,196.000000,30.0,15,0.000000,0.000000,0.069018,...,1.242331,0.207055,1304,510,58,1,1500000,22000000,1,0
2,/tom-heaton/profil/spieler/34130,Manchester United,Tom Heaton,Goalkeeper,188.000000,37.0,4,0.000000,0.000000,0.000000,...,0.616438,0.924658,292,697,84,4,600000,6000000,1,0
3,/lisandro-martinez/profil/spieler/480762,Manchester United,Lisandro Martínez,Defender Centre-Back,175.000000,25.0,82,0.028090,0.056180,0.224719,...,0.000000,0.000000,6408,175,22,9,50000000,50000000,2,0
4,/raphael-varane/profil/spieler/164770,Manchester United,Raphaël Varane,Defender Centre-Back,191.000000,30.0,63,0.017889,0.017889,0.053667,...,0.000000,0.000000,5031,238,51,21,40000000,80000000,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10749,/aidan-simmons/profil/spieler/867763,Western Sydney Wanderers,Aidan Simmons,Attack-RightWinger,181.240353,20.0,16,0.175953,0.087977,0.263930,...,0.000000,0.000000,1023,0,0,0,75000,75000,4,1
10750,/kusini-yengi/profil/spieler/708099,Western Sydney Wanderers,Kusini Yengi,Attack Centre-Forward,190.000000,24.0,26,0.372671,0.186335,0.186335,...,0.000000,0.000000,1449,102,18,0,300000,300000,4,0
10751,/nathanael-blair/profil/spieler/1023268,Western Sydney Wanderers,Nathanael Blair,Attack Centre-Forward,181.240353,19.0,20,0.375000,0.000000,0.187500,...,0.000000,0.000000,960,0,0,0,50000,50000,4,0
10752,/zachary-sapsford/profil/spieler/703657,Western Sydney Wanderers,Zachary Sapsford,Attack Centre-Forward,181.240353,20.0,17,0.312139,0.104046,0.000000,...,0.000000,0.000000,865,0,0,0,50000,50000,4,0
10753,/alexander-badolato/profil/spieler/957230,Western Sydney Wanderers,Alexander Badolato,Attack Centre-Forward,170.000000,18.0,21,0.000000,0.000000,0.086042,...,0.000000,0.000000,1046,0,0,0,25000,25000,4,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10754 entries, 0 to 10753
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   player               10754 non-null  object
 1   team                 10754 non-null  object
 2   name                 10754 non-null  object
 3   position             10754 non-null  object
 4   height               10754 non-null  float64
 5   age                  10754 non-null  float64
 6   appearance           10754 non-null  int64
 7   goals                10754 non-null  float64
 8   assists              10754 non-null  float64
 9   yellow cards         10754 non-null  float64
 10  second yellow cards  10754 non-null  float64
 11  red cards            10754 non-null  float64
 12  goals conceded       10754 non-null  float64
 13  clean sheets         10754 non-null  float64
 14  minutes played       10754 non-null  int64
 15  days_injured         10754 non-null  int64
 16  games_injured        10754 non-null  int64
 17  award                10754 non-null  int64
 18  current_value        10754 non-null  int64
 19  highest_value        10754 non-null  int64
 20  position_encoded     10754 non-null  int64
 21  winger               10754 non-null  int64
dtypes: float64(9), int64(9), object(4)
memory usage: 1.8+ MB

# Data Cleaning and Wrangling

- Verifying the missing values

In [5]:
#verify the missing values
df.isnull().sum()

player                 0
team                   0
name                   0
position               0
height                 0
age                    0
appearance             0
goals                  0
assists                0
yellow cards           0
second yellow cards    0
red cards              0
goals conceded         0
clean sheets           0
minutes played         0
days_injured           0
games_injured          0
award                  0
current_value          0
highest_value          0
position_encoded       0
winger                 0
dtype: int64

- Round every numerical value to 2 decimal number

In [6]:
#round everything to 2 decimal places
df = df.round(2)

- Removing unnecessary columns

In [7]:
#remove player, position_encoded andwinger columns
df = df.drop(['player', 'position_encoded', 'winger'], axis=1)

In [8]:
df.head(1)

,team,name,position,height,age,appearance,goals,assists,yellow cards,second yellow cards,red cards,goals conceded,clean sheets,minutes played,days_injured,games_injured,award,current_value,highest_value
0,Manchester United,David de Gea,Goalkeeper,189.0,32.0,104,0.0,0.0,0.01,0.0,0.0,1.22,0.34,9390,42,5,13,15000000,70000000

- Mapping positions

In [9]:
#position unique values
df['position'].unique()

array(['Goalkeeper', 'Defender Centre-Back', 'Defender Left-Back',
       'Defender Right-Back', 'midfield-DefensiveMidfield',
       'midfield-CentralMidfield', 'midfield-AttackingMidfield',
       'Attack-LeftWinger', 'Attack-RightWinger', 'Attack Centre-Forward',
       'midfield-RightMidfield', 'midfield-LeftMidfield',
       'Attack-SecondStriker', 'midfield', 'Attack', 'Defender'],
      dtype=object)

In [10]:
# Apply the function to the 'position' column
df['position'] = df['position'].apply(abbreviate_positions)

In [11]:
df.sample(2)

,team,name,position,height,age,appearance,goals,assists,yellow cards,second yellow cards,red cards,goals conceded,clean sheets,minutes played,days_injured,games_injured,award,current_value,highest_value
10386,Mamelodi Sundowns FC,Erwin Saavedra,MF,175.0,27.0,10,0.00,0.0,0.34,0.0,0.0,0.0,0.0,267,115,15,2,750000,1500000
10748,Western Sydney Wanderers,Jarrod Carluccio,ATT,178.0,22.0,32,0.23,0.0,0.28,0.0,0.0,0.0,0.0,1588,0,0,0,200000,200000

- Convert age column to integer

In [12]:
#pass age to int
df['age'] = df['age'].astype(int)

In [14]:
df.head(1)

,team,name,position,height,age,appearance,goals,assists,yellow cards,second yellow cards,red cards,goals conceded,clean sheets,minutes played,days_injured,games_injured,award,current_value,highest_value
0,Manchester United,David de Gea,GK,189.0,32,104,0.0,0.0,0.01,0.0,0.0,1.22,0.34,9390,42,5,13,15000000,70000000

- Convert categorical variables to numerical

*This will allow the model to understand and process categorical data.*

Label Enconding - it suits better ordinal categories like 'team' and 'name'

In [15]:
from sklearn.preprocessing import LabelEncoder

# Encode 'team', 'name', and 'position' using LabelEncoder
le_team = LabelEncoder()
le_name = LabelEncoder()
le_position = LabelEncoder()

# Apply label encoding
df['team_encoded'] = le_team.fit_transform(df['team'])
df['name_encoded'] = le_name.fit_transform(df['name'])
df['position_encoded'] = le_position.fit_transform(df['position'])

# Drop original categorical columns
df = df.drop(columns=['team', 'name', 'position'])

In [18]:
df

,height,age,appearance,goals,assists,yellow cards,second yellow cards,red cards,goals conceded,clean sheets,minutes played,days_injured,games_injured,award,current_value,highest_value,team_encoded,name_encoded,position_encoded
0,189.00,32,104,0.00,0.00,0.01,0.0,0.0,1.22,0.34,9390,42,5,13,15000000,70000000,226,2088,2
1,196.00,30,15,0.00,0.00,0.07,0.0,0.0,1.24,0.21,1304,510,58,1,1500000,22000000,226,4066,2
2,188.00,37,4,0.00,0.00,0.00,0.0,0.0,0.62,0.92,292,697,84,4,600000,6000000,226,9692,2
3,175.00,25,82,0.03,0.06,0.22,0.0,0.0,0.00,0.00,6408,175,22,9,50000000,50000000,226,5758,1
4,191.00,30,63,0.02,0.02,0.05,0.0,0.0,0.00,0.00,5031,238,51,21,40000000,80000000,226,8092,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10749,181.24,20,16,0.18,0.09,0.26,0.0,0.0,0.00,0.00,1023,0,0,0,75000,75000,365,257,0
10750,190.00,24,26,0.37,0.19,0.19,0.0,0.0,0.00,0.00,1449,102,18,0,300000,300000,365,5535,0
10751,181.24,19,20,0.38,0.00,0.19,0.0,0.0,0.00,0.00,960,0,0,0,50000,50000,365,7272,0
10752,181.24,20,17,0.31,0.10,0.00,0.0,0.1,0.00,0.00,865,0,0,0,50000,50000,365,10443,0
10753,170.00,18,21,0.00,0.00,0.09,0.0,0.0,0.00,0.00,1046,0,0,0,25000,25000,365,454,0

**Position Encode**: 
- GK: 2
- DF: 1
- MF: 3
- ATT: 0

# Feature Engineering

Creation of a new feature: *awards per appearance*

In [19]:
# Create the 'awards_per_appearance' feature
df['awards_per_appearance'] = df['award'] / df['appearance']

In [20]:
df

,height,age,appearance,goals,assists,yellow cards,second yellow cards,red cards,goals conceded,clean sheets,minutes played,days_injured,games_injured,award,current_value,highest_value,team_encoded,name_encoded,position_encoded,awards_per_appearance
0,189.00,32,104,0.00,0.00,0.01,0.0,0.0,1.22,0.34,9390,42,5,13,15000000,70000000,226,2088,2,0.125000
1,196.00,30,15,0.00,0.00,0.07,0.0,0.0,1.24,0.21,1304,510,58,1,1500000,22000000,226,4066,2,0.066667
2,188.00,37,4,0.00,0.00,0.00,0.0,0.0,0.62,0.92,292,697,84,4,600000,6000000,226,9692,2,1.000000
3,175.00,25,82,0.03,0.06,0.22,0.0,0.0,0.00,0.00,6408,175,22,9,50000000,50000000,226,5758,1,0.109756
4,191.00,30,63,0.02,0.02,0.05,0.0,0.0,0.00,0.00,5031,238,51,21,40000000,80000000,226,8092,1,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10749,181.24,20,16,0.18,0.09,0.26,0.0,0.0,0.00,0.00,1023,0,0,0,75000,75000,365,257,0,0.000000
10750,190.00,24,26,0.37,0.19,0.19,0.0,0.0,0.00,0.00,1449,102,18,0,300000,300000,365,5535,0,0.000000
10751,181.24,19,20,0.38,0.00,0.19,0.0,0.0,0.00,0.00,960,0,0,0,50000,50000,365,7272,0,0.000000
10752,181.24,20,17,0.31,0.10,0.00,0.0,0.1,0.00,0.00,865,0,0,0,50000,50000,365,10443,0,0.000000
10753,170.00,18,21,0.00,0.00,0.09,0.0,0.0,0.00,0.00,1046,0,0,0,25000,25000,365,454,0,0.000000

Normalize/Scale the Features